.footer-wrapper {
    display: inline;
    align-items: center;
    justify-content: center;
    color: #b3b3b3;
}

.social {
    width: 32px;
    height: 32px;
    padding: 0 10px 0 20px;
}

.footer-social {
    float: right;
}

.footer-text {
    margin-top: 10px;
    float: left;
}

@media only screen and (max-width: 480px) {

    .footer-wrapper {
        display: block;
        margin: 0 0.5em;
        text-align: center;
    }

    .footer-social {
        float: none;
    }

    .footer-text {
        font-size: 0.9em;
        margin-bottom: 1.5em;
        float: none;
    }

    .social {
        padding: 0 1.5em;
    }
}
