div.items {
    width: 322px;
    text-align: center;
}

div.items > p {
    margin: 1em 0;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

img:hover {
    opacity: 0.75;
}

.main-wrapper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

@media only screen and (max-width: 480px) {

    .main-wrapper {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }

    div.items {
        width: auto;
        margin: 0 0.5em;
    }

    img {
        width: 90%;
    }
}
