<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Adam portfolio</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>

</head>
<body>
    <div class="canvas">
        <div class="header-wrapper">
            <div class="header-image">
                <p>ADAM BODNAR</p>
                <p>DEVELOPER | PLANT ENTHUSIAST</p>
            </div>
            <div class="menu-button">
                <span>MENU<span>
            </div>
            <div class="nav-wrapper hide">
                <a href="index.html">WORK</a>
                <a href="#">ABOUT</a>
                <a href="#">CONTACT</a>
                <a href="#">BLOG</a>
            </div>
        </div>
        <hr>
        <div class="main-wrapper">
            <div class="items item1">
                <img src="../static/images/banana.jpg">
                <p>BANANA PLANT</p>
            </div>
            <div class="items item1">
                <img src="../static/images/tillandsia.jpg">
                <p>TILLANDSIA</p>
            </div>
            <div class="items item1">
                <img src="../static/images/funky_plants.jpg">
                <p>FUNKY PLANT</p>
            </div>
            <div class="items item3">
                <img src="../static/images/cuttings.jpg">
                <p>CUTTINGS</p>
            </div>
            <div class="items item2">
                <img src="../static/images/small_plants.jpg">
                <p>SMALL DECOR PLANTS</p>
            </div>
            <div class="items item3">
                <img src="../static/images/palm.jpg">
                <p>PALM</p>
            </div>
            <div class="items item2">
                <img src="../static/images/funky_leaf.jpg">
                <p>FUNKY PALM PLANT</p>
            </div>
            <div class="items item2">
                <img src="../static/images/succulent.jpg">
                <p>SUCCULENT</p>
            </div>
            <div class="items item3">
                <img src="../static/images/winter_plants.jpg">
                <p>PLANTS DURING WINTER</p>
            </div>
        </div>
        <hr class="hr-bottom">
        <div class="footer-wrapper">
            <div class="footer footer-text">
                <p>&#169; 2018&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Feel free to contact me via social media</p>
            </div>
            <div class="footer footer-social">
                <a href="https://www.instagram.com/adam.bodnar">
                    <img class="social instagram" target="_blank" src="../static/images/instagram.png">
                </a>
                <a href="https://www.linkedin.com/in/adam-bodnar-604454138/">
                    <img class="social linkdin" target="_blank" src="../static/images/linkedin.png">
                </a>
                <a href="https://www.facebook.com/profile.php?id=100011380862307&ref=bookmarks">
                    <img class="social facebook" target="_blank" src="../static/images/facebook.png">
                </a>
            </div>
        </div>
        <div class="top-button-wrapper">
            <button onclick="goToTop()" id="upButton">TOP</button>
        </div>
    </div>
</body>
</html>
