<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Adam portfolio</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/header.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>

</head>
<body>
    <div class="canvas">
        <div class="header-wrapper">
            <div class="header-image">
                <p>ADAM BODNAR</p>
                <p>DEVELOPER | PLANT ENTHUSIAST</p>
            </div>
            <div class="menu-button">
                <span>MENU<span>
            </div>
            <div class="nav-wrapper hide">
                <a href="#" class="active">WORK</a>
                <a href="#">ABOUT</a>
                <a href="#">CONTACT</a>
                <a href="#">BLOG</a>
            </div>
        </div>
        <div class="main-wrapper">
        </div>
        <div class="footer-wrapper">
        </div>
    </div>
</body>
</html>
